.COmenu {
    min-height: 100px;
    min-width: 70%;
    border: solid;
    border-color: white;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: center;
}
.menu1 {
    display: inline-block;
    text-align: center;
    padding: 20px;
}
.wrapper1 {
    width: 60%;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 10px 10px 5px black;
    border: 1px solid #000000;
    padding: 20px;
    height: 300px;
}
.title2 {
    text-align: center;
}
#BTT {
    padding-right: -15px;
    padding-bottom: -15px;
    text-align: right;
    font-size: 10px;
}