.pageJump {
    padding: 10px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
#BTT {
    padding-right: -15px;
    padding-bottom: -15px;
    text-align: right;
    font-size: 10px;
}