table {
    margin-right: auto;
    margin-left: auto;
}
#Mquest {
    margin-top: 50px;
}
#Squest {
    padding-top: 50px;
    padding-bottom: 50px;
}
.title2 {
    height: 50px;
    width: 60%;
    border: solid;
    border-color: white;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: center;
}